body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

#stars-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    perspective: 1000px;
}

#crosshair {
    position: absolute;
    width: 60px; /* Ajusta el ancho del punto de mira según tus necesidades */
    height: 60px; /* Ajusta la altura del punto de mira según tus necesidades */
    top: calc(0% - 30px);
    left: calc(0% - 30px);
    pointer-events: none;
}

.rayo {
    position: absolute;
    width: 2px;
    height: 1080px;
    background-color: yellow;
    top: calc(50% - 540px);
    left: calc(50% - 1px);
    transform-origin: bottom;
    transition: transform 0.2s ease;
}

.star {
    position: absolute;
    background: rgb(254, 255, 247);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    animation: moveStar 5s linear infinite, twinkle 2s linear infinite;
    transform-origin: center;
}

@keyframes moveStar {
    0% {
        transform: translate(-50%, -50%) scale(0.7) translateZ(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.2) translateZ(-1000px);
    }
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.rayo {
    position: absolute;
    background-color: yellow;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.2s ease;
}
